/* padding と border を幅と高さに含める */
* {
  box-sizing: border-box;
}

/* SP画面 */
html {
  max-height: 100%;
  height: 100%;
}

body {
  background-color: #e3eaf2;
  margin: 0%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}

.main {
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  padding-bottom: 66px;
}

/* コンテンツアイコンクリック時に表示させるモーダル */
.content-modal {
  z-index: 20;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 24px 16px 0 16px;
  background-color: #FFFFFF;
  position: absolute;
  transition: all 0.5s ease-out;
  overflow-y: scroll;
  /* 上部(98px) + 下部(48px) の合計値 */
  padding-bottom: 146px;
  border-radius: 16px 16px 0px 0px;
}
.content-modal-header {
  display: flex;
  margin-bottom: 30px;
}
.content-title {
  font-size: 14px;
  opacity: 87%;
  margin-top: 24px;
  margin-bottom: 8px;
}
.content-note {
  font-size: 12px;
  opacity: 60%;
  margin-top: 4px;
}
/* content-modal 配下の input */
.content-modal input {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background-color: #F6F6F6;
  padding: 0;
  border: none;
  outline: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 19px;
}
input[type="color"] {
  background-color: red;
  
}

/* コンテンツアイコンクリック時、モーダルを表示させる */
#open:checked + .content-modal {
  top: 98px;
}

/* メニューを最下部に固定 */
.navigation {
  z-index: 10;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 48px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.navigation-button {
  background-color: #540c82;
  border-radius: 40px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  padding: 4px;
}

.navigation-button + .navigation-button {
  margin-left: 24px;
}

.header-button {
  display: flex;
}

button {
  /* default の border が不要なため消す */
  border: none;
}

.add-button {
  display: flex;
  padding: 0 24px 0 24px;
  height: 50px;
  width: 120px;
  color: #FFFFFF;
  background-color: #6B0FA4;
  border-radius: 4px;
  align-items: center;
}

.search {
  opacity: 60%;
  font-size: 20px;
}

input:not(:placeholder-shown) {
  opacity: 87%;
}

.custom-button {
  color: #6B0FA4;
  /* 初期値(背景色無効) */
  background-color: transparent;
  cursor: pointer;
  padding: 16px;
  /* 背景だけを透過をさせる */
  background-clip: padding-box;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}


/* レコード部のcss */
.data-top-parts {
  background-color: #FFFFFF;
  width: 580px;
  height: 8px;
  border-radius: 4px 4px 0px 0px;
}

.data-header,
.data {
  display: flex;
}

div.data-header {
  background-color: #FFFFFF;
}

div.data-body> :nth-child(odd) {
  background-color: #F6F6F6;
}

div.data-body> :nth-child(even) {
  background-color: #FFFFFF;
}

.datas {
  font-size: 14px;
}

.id,
.name,
.email {
  align-items: center;
  opacity: 60%;
  height: 48px;
  padding: 14px 8px;
}

.id {
  width: 100px;
  /* sp画面時.idを最後尾に */
  /* order: 1; */
}

.name {
  width: 160px;
}

.email {
  width: 320px;
}





.search-box {
  /* padding: 14px 12px; */
  margin-left: 14px;
  display: flex;
  align-items: center;
}

.header-top-contents {
  width: 343px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-content {
  margin-left: 16px;
}
.register {
  margin: 0 0 0 auto;
  color: #6B0FA4;
  background-color: transparent;
  font-size: 18px;
}

.header-second-contents {
  background-color: #FFFFFF;
  width: 343px;
  margin-bottom: 18px;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
}

[type="search"] {
  font-size: 14px;
  border: none;
}

.contents {
  margin-top: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.header-second-contents {
  display: flex;
  justify-items: center;
}

.header-title {
  font-size: 22px;
  font-weight: normal;
}

.menu {
  background-color: blue;
}

.home {
  background-color: pink;
}

.content {
  background-color: orange;
}

table tbody tr:nth-child(odd) {
  background-color: #F6F6F6;
}

table tbody tr:nth-child(even) {
  background-color: #FFFFFF;
}

table {
  width: 100%;
  /* 表の中のセルが境界を共有するか分離するか */
  border-collapse: collapse;
}

table {
  background-color: #FFFFFF;
}

.button-label {
  display: none;
}


/* ------------------------------------------------------ */


/* PC画面 */
@media (min-width: 376px) {
  * {
    box-sizing: border-box;
  }
  
  /* SP画面 */
  html {
    max-height: 100%;
    height: 100%;
  }
  
  body {
    background-color: #e3eaf2;
    margin: 0%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .main {
    max-height: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  
  h1 {
    margin: 0;
  }
  
  .container {
    display: flex;
    padding-bottom: 66px;
  }
  
  /* コンテンツアイコンクリック時に表示させるモーダル */
  .content-modal {
    z-index: 20;
    top: 100%;
    width: 100%;
    height: 100%;
    padding: 24px 16px 0 16px;
    background-color: #FFFFFF;
    position: absolute;
    transition: all 0.5s ease-out;
    overflow-y: scroll;
    /* 上部(98px) + 下部(48px) の合計値 */
    padding-bottom: 146px;
    border-radius: 16px 16px 0px 0px;
  }
  .content-modal-header {
    display: flex;
    margin-bottom: 30px;
  }
  .content-title {
    font-size: 14px;
    opacity: 87%;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  .content-note {
    font-size: 12px;
    opacity: 60%;
    margin-top: 4px;
  }
  /* content-modal 配下の input */
  .content-modal input {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background-color: #F6F6F6;
    padding: 0;
    border: none;
    outline: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 19px;
  }
  input[type="color"] {
    background-color: red;
    
  }
  
  /* コンテンツアイコンクリック時、モーダルを表示させる */
  #open:checked + .content-modal {
    top: 98px;
  }
  
  /* メニューを最下部に固定 */
  .navigation {
    z-index: 10;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 48px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
  }
  
  .navigation-button {
    background-color: #540c82;
    border-radius: 40px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 4px;
  }
  
  .navigation-button + .navigation-button {
    margin-left: 24px;
  }
  
  .header-button {
    display: flex;
  }
  
  button {
    /* default の border が不要なため消す */
    border: none;
  }
  
  .add-button {
    display: flex;
    padding: 0 24px 0 24px;
    height: 50px;
    width: 120px;
    color: #FFFFFF;
    background-color: #6B0FA4;
    border-radius: 4px;
    align-items: center;
  }
  
  .search {
    opacity: 60%;
    font-size: 20px;
  }
  
  input:not(:placeholder-shown) {
    opacity: 87%;
  }
  
  .custom-button {
    color: #6B0FA4;
    /* 初期値(背景色無効) */
    background-color: transparent;
    cursor: pointer;
    padding: 16px;
    /* 背景だけを透過をさせる */
    background-clip: padding-box;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  
  /* レコード部のcss */
  .data-top-parts {
    background-color: #FFFFFF;
    width: 580px;
    height: 8px;
    border-radius: 4px 4px 0px 0px;
  }
  
  .data-header,
  .data {
    display: flex;
  }
  
  div.data-header {
    background-color: #FFFFFF;
  }
  
  div.data-body> :nth-child(odd) {
    background-color: #F6F6F6;
  }
  
  div.data-body> :nth-child(even) {
    background-color: #FFFFFF;
  }
  
  .datas {
    font-size: 14px;
  }
  
  .id,
  .name,
  .email {
    align-items: center;
    opacity: 60%;
    height: 48px;
    padding: 14px 8px;
  }
  
  .id {
    width: 100px;
    /* sp画面時.idを最後尾に */
    /* order: 1; */
  }
  
  .name {
    width: 160px;
  }
  
  .email {
    width: 320px;
  }
  
  
  
  
  
  .search-box {
    /* padding: 14px 12px; */
    margin-left: 14px;
    display: flex;
    align-items: center;
  }
  
  .header-top-contents {
    width: 343px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .add-content {
    margin-left: 16px;
  }
  .register {
    margin: 0 0 0 auto;
    color: #6B0FA4;
    background-color: transparent;
    font-size: 18px;
  }
  
  .header-second-contents {
    background-color: #FFFFFF;
    width: 343px;
    margin-bottom: 18px;
    border-radius: 4px;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
  }
  
  [type="search"] {
    font-size: 14px;
    border: none;
  }
  
  .contents {
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .header-second-contents {
    display: flex;
    justify-items: center;
  }
  
  .header-title {
    font-size: 22px;
    font-weight: normal;
  }
  
  .menu {
    background-color: blue;
  }
  
  .home {
    background-color: pink;
  }
  
  .content {
    background-color: orange;
  }
  
  table tbody tr:nth-child(odd) {
    background-color: #F6F6F6;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #FFFFFF;
  }
  
  table {
    width: 100%;
    /* 表の中のセルが境界を共有するか分離するか */
    border-collapse: collapse;
  }
  
  table {
    background-color: #FFFFFF;
  }
  
  .button-label {
    display: none;
  }
}