/* common */

* {
  /* padding と border を幅と高さに含める */
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

html {
  max-height: 100%;
  height: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  /* 背景色: #C8D5E4 50% を rbga で表記 */
  background-color: rgba(200, 213, 228, 0.5);
  margin: 0%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.main {
  max-height: 100%;
  height: 100%;
}

.contents {
  height: 100%;
  width: 100%;
  padding: 24px 16px 66px 16px;
  overflow-y: scroll;
}

/* コンテンツアイコンクリック時に表示させるモーダル */
.content-modal {
  z-index: 20;
  top: 100%;
  width: 100%;
  /* header を考慮 */
  height: calc(100% - 98px);
  background-color: #FFFFFF;
  border-radius: 16px 16px 0 0;
  position: absolute;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.30);
  overflow-x: hidden;
}

form {
  height: 100%;
}

.content-modal-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

.content-modal-top {
  height: 74px;
  width: 100%;
  padding: 24px 16px;
}

.content-modal-middle {
  padding: 6px 16px 24px 16px;
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.content-modal-bottom {
  width: 100%;
  padding: 16px 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  display: none;
  justify-content: space-between;
}

/* コンテンツアイコンクリック時、モーダルを表示させる */
#open:checked+.content-modal {
  top: 98px;
}

.content-modal-header {
  display: flex;
  margin-bottom: 30px;
}

.content-title {
  font-size: 14px;
  /* 文字色: #000000 87% を rbga で表記 */
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 8px;
}

.input-content+.input-content {
  margin-top: 24px;
}

.content-note {
  font-size: 12px;
  /* 文字色: #000000 60% を rbga で表記 */
  color: rgba(0, 0, 0, 0.60);
  margin-top: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

input {
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 8px;
  border: none;
  outline: none;
}

/* content-modal 配下の input */
.content-modal input {
  padding: 16px 19px;
  background-color: #F6F6F6;
  width: 100%;
  height: 52px;
}

input:not([type="search"]):focus {
  /* 入力中・選択中は border を表示 */
  border: 2px solid #34B0C0;
}

/* input 要素の入力 color 指定 */
input:not(:placeholder-shown) {
  color: rgba(0, 0, 0, 0.87);
}



.search-box:focus-within {
  border: 2px solid #34B0C0;
  border-radius: 4px;
}

#image-color {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 8px;
}

#image-color::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
  padding: 0;
}

#image-color::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 8px;
  padding: 0;
}

/* メニューを最下部に固定 */
.navigation {
  z-index: 10;
  width: 100%;
  height: 48px;
  left: 0;
  bottom: 0;
  padding: 8px 16px;
  background-color: #FFFFFF;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.navigation-button {
  padding: 4px;
  border-radius: 40px;
  flex-grow: 1;
}

.search {
  /* 虫眼鏡アイコンを opacity で調整 子要素無し */
  opacity: 0.6;
  font-size: 24px;
  margin-right: 8px;
}

.navigation-button+.navigation-button {
  margin-left: 24px;
}

.header-button {
  display: flex;
}

button {
  /* default の border が不要なため消す */
  border: none;
}

.add-button {
  height: 50px;
  position: relative;
  min-width: 120px;
  padding: 15px 24px 15px 42px;
  height: 50px;
  color: #FFFFFF;
  background-color: #6B0FA4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
}

.add {
  position: absolute;
  left: 16px;
  font-size: 18px;
}

.add-word {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.header-button-icon {
  font-size: 24px;
}

.custom-button {
  color: #6B0FA4;
  /* 初期値(背景色無効) */
  background-color: transparent;
  padding: 16px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

/* レコード部のcss */
.data-top-parts {
  background-color: #FFFFFF;
  height: 8px;
  border-radius: 4px 4px 0 0;
}

.data-header,
.data {
  display: flex;
}

.datas .name {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
}

.datas .id {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
}

.data-header,
.data-body {
  font-size: 14px;
}

.data-header {
  background-color: #FFFFFF;
}

.data-body> :nth-child(odd) {
  background-color: #F6F6F6;
}

.data-body> :nth-child(even) {
  background-color: #FFFFFF;
}

.datas-wrap {
  width: 100%;
  overflow-x: scroll;
}

.datas {
  width: 580px;
}

.id,
.name,
.email {
  height: 100%;
  padding: 14px 8px;
  color: rgba(0, 0, 0, 0.60);
  align-items: center;
  font-weight: 400;
  /* font-size 14px に対し、line-height 20.27px は 1.45倍 */
  line-height: 1.45;
  /* 要素より長い文字列を省略する */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.id {
  width: 100px;
}

.name {
  width: 160px;
}

.email {
  width: 320px;
}

.search-box {
  width: 100%;
  padding: 14px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-top-contents {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-content {
  margin-left: 16px;
  font-size: 18px;
}

.register {
  margin: 0 0 0 auto;
  color: #6B0FA4;
  background-color: transparent;
  font-size: 18px;
}

.header-second-contents {
  background-color: #FFFFFF;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

[type="search"] {
  font-size: 14px;
  border: none;
}

.header-title {
  font-size: 22px;
  /* font-size 22px に対し、line-height 31.86px は 1.45倍 */
  line-height: 1.45;
}

.menu {
  background-color: transparent;
  color: #6B0FA4;
}

.pc-home {
  display: none;
}

.sp-home {
  color: #6B0FA4;
}

.nav-icon {
  font-size: 32px;
  line-height: 32px;
}

.home-word,
.content-word {
  display: none;
}

.content {
  background-color: rgba(84, 12, 130, 0.10);
  color: #6B0FA4;
}

.button-label {
  display: none;
}

.check-login {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
}

.check-login>input {
  width: 48px;
}

.check-login>label {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

#login {
  height: 16px;
}


/* PC画面 ----------------------------------------------- */
@media (min-width: 521px) {

  .main {
    display: flex;
  }

  .contents {
    padding: 42px 40px;
  }

  .content-modal {
    z-index: 5;
    width: 0px;
    height: 100%;
    min-width: 0px;
    position: static;
    border-radius: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  /* コンテンツアイコンクリック時、モーダルを表示させる */
  #open:checked+.content-modal {
    width: 320px;
    min-width: 320px;
  }

  .content-modal-wrap {
    left: -320px;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    height: 100%;
  }

  #open:checked+.content-modal-wrap {
    left: 0;
  }

  .content-modal-header>label,
  .content-modal-header>button {
    display: none;
  }

  /* メニューを左部に固定 */
  .navigation {
    min-width: 80px;
    width: 80px;
    height: 100%;
    left: auto;
    bottom: auto;
    padding: 0 12px;
    background-color: #FFFFFF;
    position: static;
    flex-direction: column;
    justify-content: flex-start;
  }

  .navigation-button {
    padding: 0;
    padding-bottom: 14px;
    border-radius: 0;
    flex-grow: 0;
    margin-bottom: 14px;
    line-height: 1;
  }

  label.content {
    display: inline-block;
  }

  .navigation-button+.navigation-button {
    margin-left: 0;
  }

  .add-button {
    display: none;
  }

  div.search-box>input {
    padding-left: 8px;
  }

  .custom-button {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 16px;
    border: 1px solid #6B0FA4;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

  .reset {
    height: 50px;
    width: 136px;
    color: #6B0FA4;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .register-button {
    height: 50px;
    width: 136px;
    color: #FFFFFF;
    background-color: #6B0FA4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-modal-bottom {
    display: flex;
  }

  /* レコード部のcss */
  .datas {
    width: 100%;
  }

  .id {
    width: 180px;
    /* pc画面時idセルを先頭に */
    order: -1;
  }

  .name {
    width: 240px;
  }

  .search-box {
    background-color: #FFFFFF;
    padding-left: 14px;
    border-radius: 4px;
  }

  .header-top-contents {
    margin-bottom: 40px;
  }

  .add-content {
    margin: 0;
  }

  .header-second-contents {
    background-color: transparent;
    height: 52px;
    border: none;
  }

  .header-title {
    font-size: 32px;
  }

  .menu {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .home {
    order: 1;
  }

  .pc-home {
    display: block;
    color: rgba(0, 0, 0, 0.60);
  }

  .sp-home {
    display: none;
  }

  .home-word,
  .content-word {
    display: block;
    font-size: 10px;
    line-height: 10px;
  }

  .selected-word {
    font-weight: 500;
  }

  .content {
    background-color: transparent;
    color: #6B0FA4;
    order: 2;
  }

  .content span {
    background-color: rgba(84, 12, 130, 0.10);
    border-radius: 40px;
    width: 100%;
  }

  .button-label {
    padding-left: 8px;
    font-size: 14px;
    display: inline;
    white-space: nowrap;
  }

  .header-button-icon {
    font-size: 17px;
  }
}